.menu-item-search form { 
    position: relative;
    height: 80px;
    width: 78px;
    display: inline-block;
    text-align: right;
    line-height: 80px;
    cursor: pointer;
    /* Style font */
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
 }

 .menu-item-search form::before{
     content: url(../../images/musica-searcher.svg);
     width: 20px;
     height: 19px;
     text-align: center;
     display: inline-block;
     vertical-align: middle;
     line-height: 20px;
     margin-top: -4px;
 }

 .menu-item-search {
     text-align: right;
 }
.menu-item-search button {
    background: transparent url(../../images/musica-searcher.svg) center center no-repeat;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    z-index: 2;
}

.menu-item-search button svg {
    width: 20px;
    color: #2d8099;
}

.search-form span{
    transition: width 500ms linear;
    -webkit-transition: width 500ms linear;
    width: 0;
    max-width: 100vw;
    position: absolute;
    height: 50px;
    top: 50%;
    right: -2px;
    margin-top: -25px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    /* display: none; */
}

.search-form input {    
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #b3dde9;
    font-size: 14px;
    color: #248ba7;
}

.search-form span.hide-effects{
    width: 0;
}

.search-form span.show-effects{
    display: block;
    width: 500px;
}

.search-form input:active,
.search-form input:focus{ outline: none; box-shadow: none; }

.grow0 { flex-grow: 0; }
.grow1 { flex-grow: 1; }
.grow2 { flex-grow: 2; }

.separator {
     display: inline-block;
     margin: 0 20px;
}

.bagshop{
    content: '';
    display: inline-block;
    background-image: url(../../images/shopping-bag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: -6px;
}

.cart-contents{
    display: inline-block;
    width: 30px;
    height: 30px; 
    border-radius: 15px;
    border: 1px solid #b5deea;
    line-height: 30px;
    text-align: center;
    color: #175186;
    font-weight: 600;
    font-size: 12px;
    margin-left: -8px;
}